#catalog {
  // background: red;

  .catalog-page {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-auto-rows: 100px;
    padding: 0 5%;
    .left-section {
      grid-column-start: 1;
      grid-column-end: three;
      grid-row-start: row1-start;
      grid-row-end: 2;
      width: 280px;
    }
    .right-section {
      grid-column-start: 5;
      grid-column-end: 2;
      grid-row-start: row1-start;
      grid-row-end: 3;

      #filters {
        display: flex;
        justify-content: space-between;
      }


      #products {
        h1 {
          text-align: center;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          text-align: center;
          li {
            list-style: none;
            a {
              display: inline-grid;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}